<body onload="createLinePlot('top_made_auton', 'top_missed_auton');createLinePlot('possessions');createLinePlot('foul_pts');createLinePlot('ball_control');">

<% provide(:title, "Team #{@team.number}") %>

<h1>Team <%= @team.number %></h1>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<% if @matches.any? %>
			<h3>Matches (<%= @matches.count %>)</h3>
			<ol class="matches">
				<%= render @matches %>
			</ol>
		<% else %>
			<h3>No matches so far</h3>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= pic_for @team %>
	</div>
</div>

<hr>
<br>

<% if @matches.any? %>
	<div class="row center">
		<div class="col-md-2">
			<% if @matches.average('top_made_auton') %>
				<h3> Top auton: <%= @matches.average('top_made_auton').round(1) %> </h3>
			<% end %>
		</div>
		<div class="col-md-2">
			<% if @matches.average('top_made_tele') %>
				<h3> Top tele: <%= @matches.average('top_made_tele').round(1) %> </h3>
			<% end %>
		</div>
		<div class="col-md-2">
			<% if @matches.where("speed > ?", 0).average('speed') %>
				<h3> Speed: <%= @matches.where("speed > ?", 0).average('speed').round(1) %> </h3>
			<% end %>
		</div>
		<div class="col-md-2">
			<% if @matches.where("moving_pickup > ?", 0).average('moving_pickup') %>
				<h3>Pickup speed: <%= @matches.where("moving_pickup > ?", 0).average('moving_pickup').round(1) %></h3>
			<% end %>
		</div>
		<div class="col-md-2">
			<% if @matches.where("driver_skill > ?", 0).average('driver_skill') %>
				<h3>Driver skill: <%= @matches.where("driver_skill > ?", 0).average('driver_skill').round(1) %></h3>
			<% end %>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="center row" style="margin-bottom:30px;margin-top:30px;">
		<div class="col-md-6">
			<canvas id="top_made_auton_chart" width="500" height="400"></canvas>
		</div>
		<div class="col-md-6">
			<canvas id="possessions_chart" width="500" height="400"></canvas>
		</div>
	</div>

	<div class="center row" style="margin-bottom:30px;margin-top:30px;">
		<div class="col-md-6">
			<canvas id="foul_pts_chart" width="500" height="400"></canvas>
		</div>
		<div class="col-md-6">
			<canvas id="ball_control_chart" width="500" height="400"></canvas>
		</div>
	</div>

	<div class="row" style="margin-bottom:90px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<% if @matches.any? %>
				<% @matches.each do |match| %>
					<% if match.notes.any? %>
						<%= render match.notes %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-1"></div>
	</div>

<% end %>
