<% provide(:title, "Team #{@team.number}") %>

<h1>Team <%= @team.number %></h1>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<% if @team.matches.any? %>
			<h3>Matches (<%= @team.matches.count %>)</h3>
			<ol class="matches">
				<%= render @matches %>
			</ol>
		<% else %>
			<h3>No matches so far</h3>
		<% end %>
	</div>
	<div class="col-md-2"></div>
</div>

<hr>
<br>

<div class="row">
	<div class="col-md-6">
		<%= bar_chart @matches.group("match_number").sum("top_made_auton"), height: "300px" %>
	</div>
	<div class="col-md-6">
		<%= bar_chart @matches.group("match_number").sum("top_missed_auton"), height: "300px" %>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-6">
		<%= bar_chart @matches.group("match_number").sum("top_made_tele"), height: "300px" %>
	</div>
	<div class="col-md-6">
		<%= bar_chart @matches.group("match_number").sum("top_missed_tele"), height: "300px" %>
	</div>
</div>
<br><br><br>
