<% provide(:title, "Team #{@team.number}") %>

<h1>Team <%= @team.number %></h1>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<% if @team.matches.any? %>
			<h3>Matches (<%= @team.matches.count %>)</h3>
			<ol class="matches">
				<%= render @matches %>
			</ol>
		<% else %>
			<h3>No matches so far</h3>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= pic_for @team %>
	</div>
</div>

<hr>
<br>

<% if @team.matches.any? %>
	<div class="row">
		<div class="col-md-3">
			Speed: <%= @matches.average('speed') %>
		</div>
		<div class="col-md-3">
			Top auton: <%= @matches.average('top_made_auton') %>
		</div>
		<div class="col-md-3">
			Top tele: <%= @matches.average('top_made_tele') %>
		</div>
		<div class="col-md-3">
			Pickup speed: <%= @matches.average('moving_pickup') %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-6">
			<h4>Auton scoring</h4>
			<%= area_chart [
			  {name: "Top made", data: @matches.map{|t| [t.id, t.top_made_auton] } },
			  {name: "Top missed", data: @matches.map{|t| [t.id, t.top_missed_auton] } } ],
			  height: '300px', stacked: true %>
		</div>
		<div class="col-md-6">
			<h4>Tele scoring</h4>
			<%= area_chart [
				{name: "Top made", data: @matches.map{|t| [t.id, t.top_made_tele] } },
				{name: "Top missed", data: @matches.map{|t| [t.id, t.top_missed_tele] } } ],
				height: '300px', stacked: true %>
		</div>
	</div>

	<br>

	<div class="row", style="margin-bottom:90px;">
		<div class="col-md-6">
			<h4>Truss scoring</h4>
			<%= area_chart [
				{name: "Truss made", data: @matches.map{|t| [t.id, t.truss_made] } },
				{name: "Truss missed", data: @matches.map{|t| [t.id, t.truss_missed] } } ],
				height: '300px', stacked: true %>
	</div>
	<div class="col-md-6">
		<h4>Receptions</h4>
		<%= area_chart [
				{name: "Receptions made", data: @matches.map{|t| [t.id, t.good_receptions] } },
				{name: "Receptions missed", data: @matches.map{|t| [t.id, t.attempted_receptions - t.good_receptions] } } ],
				height: '300px', stacked: true %>
	</div>
</div>
<% end %>

<br><br><br>
