<% provide(:title, "Team #{@team.number}") %>

<h1>Team <%= @team.number %></h1>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<% if @team.matches.any? %>
			<h3>Matches (<%= @team.matches.count %>)</h3>
			<ol class="matches">
				<%= render @matches %>
			</ol>
		<% else %>
			<h3>No matches so far</h3>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= pic_for @team %>
	</div>
</div>

<hr>
<br>

<% if @team.matches.any? %>
	<div class="row">
		<div class="col-md-6">
			<h4>Top made auton</h4>
			<%= column_chart @matches.group("id").sum("top_made_auton"), height: "300px" %>
		</div>
		<div class="col-md-6">
			<h4>Top missed auton</h4>
			<%= column_chart @matches.group("id").sum("top_missed_auton"), height: "300px" %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-6">
			<h4>Top made tele</h4>
			<%= column_chart @matches.group("id").sum("top_made_tele"), height: "300px" %>
		</div>
		<div class="col-md-6" style='margin-bottom:25px;'>
			<h4>Top missed tele</h4>
			<%= column_chart @matches.group("id").sum("top_missed_tele"), height: "300px" %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-6">
			<h4>Truss made tele</h4>
			<%= column_chart @matches.group("id").sum("truss_made"), height: "300px" %>
		</div>
		<div class="col-md-6" style='margin-bottom:25px;'>
			<h4>Truss missed tele</h4>
			<%= column_chart @matches.group("id").sum("truss_missed"), height: "300px" %>
		</div>
	</div>
<% end %>

<br><br><br>
