<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<%= render 'shared/error_messages_user' %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, 'Confirm Password' %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<hr>
		<%= f.submit 'Save changes', class: "btn btn-large btn-primary" %>
	</div>
	<div class="col-md-3"></div>
</div>

<br>

<div class="row">
	<div class="col-md-3">
		<div class="pull-right">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails">change</a>
		</div>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
</div>

<% end %>
