<% provide(:title, 'New match') %>

<style>
	input {width: 25%;}
	input[type='checkbox'] {margin: -2px 10px 0;}
	label {display: inline; font-weight: bold;}
	input[type="radio"] {margin: 1px 10px 0;}
</style>

<h1>New match</h1>

<!--
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<br><br>

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
  	LEL SWAG ME OUT DESU
  </div>
  <div class="tab-pane" id="profile">
  	SITAR HAS TO PRACTICE FOR BAND FINAL
  </div>
  <div class="tab-pane" id="messages">
  	LOGAN DOESN'T LEL
  </div>
  <div class="tab-pane" id="settings">
  	YAY ROBOTICS TOMORROW :DDD
  </div>
</div>
-->

<div class="container">
  <%= form_for(@match) do |f| %>
  	<%= f.hidden_field :scouter_email, value: current_user.email %>
  	<div class="row center separate">
  		<%= f.label :team_number, class: 'large-label' %>
  		<%= f.number_field :team_number, step: 1, min: 1, max: 6000 %>
		</div>
		<br><hr><br>
		<div class="row separate">
			<div class="col-md-4">
				<%= f.label :red_1 %>
				<%= f.number_field :red_1, step: 1, min: 1, max: 6000 %>
			</div>
			<div class="col-md-4">
				<%= f.label :red_2 %>
				<%= f.number_field :red_2, step: 1, min: 1, max: 6000 %>
			</div>
			<div class="col-md-4">
				<%= f.label :red_3 %>
				<%= f.number_field :red_3, step: 1, min: 1, max: 6000 %>
			</div>
		</div>

		<div class="row separate">
			<div class="col-md-4">
				<%= f.label :blue_1 %>
				<%= f.number_field :blue_1, step: 1, min: 1, max: 6000 %>
			</div>
			<div class="col-md-4">
				<%= f.label :blue_2 %>
				<%= f.number_field :blue_2, step: 1, min: 1, max: 6000 %>
			</div>
			<div class="col-md-4">
				<%= f.label :blue_3 %>
				<%= f.number_field :blue_3, step: 1, min: 1, max: 6000 %>
			</div>
  	</div>

    <%= render 'shared/error_messages_match' %>
    <hr>

		<div class="row">
			<div class="col-md-4 separate">
				<h3>Auton</h3>

				<%= f.label :hot_auton, "Scored in hot goal" %>
				<%= f.check_box :hot_auton %>
				<br>
				<%= f.label :drive_auton, "Drive points" %>
				<%= f.check_box :drive_auton %>
				<br>
				<%= f.label :top_made_auton, "Top made" %>
				<%= f.number_field :top_made_auton, step: 1, min: 0, max: 3 %>
				<br>
				<%= f.label :top_missed_auton, "Top failed" %>
				<%= f.number_field :top_missed_auton, step: 1, min: 0, max: 3 %>
				<br>
				<%= f.label :low_made_auton, "Low made" %>
				<%= f.number_field :low_made_auton, step: 1, min: 0, max: 3 %>
				<br>
				<%= f.label :low_missed_auton, "Low failed" %>
				<%= f.number_field :low_missed_auton, step: 1, min: 0, max: 3 %>
			</div>

			<div class="col-md-4">
				<h3>Movement</h3>

				<%= f.label :speed, "Speed", class: 'separate' %>
				<div class="btn-group btn-group-justified" data-toggle='buttons'>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.radio_button :speed, '1', value: 1, style: 'display:none;' %>
							<%= f.label :speed_very_slow, "very slow", class: 'no-bold' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.radio_button :speed, '2', value: 2, style: 'display:none;' %>
							<%= f.label :speed_slow, 'slow', class: 'no-bold' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.radio_button :speed, '3', value: 3, style: 'display:none;' %>
							<%= f.label :speed_decent, 'decent', class: 'no-bold' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.radio_button :speed, '4', value: 4, style: 'display:none;' %>
							<%= f.label :speed_fast, 'fast', class: 'no-bold' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.radio_button :speed, '5', value: 5, style: 'display:none;' %>
							<%= f.label :speed_very_fast, 'very fast', class: 'no-bold' %>
						</button>
					</div>
				</div>

				<br>

				<%= f.label :driver_skill, "Driver skill", class: 'separate' %>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.label :driver_skill_poor, "poor", class: 'no-bold' %>
							<%= f.radio_button :driver_skill, '1', value: 1, style: 'display:none;' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.label :driver_skill_okay, 'okay', class: 'no-bold' %>
							<%= f.radio_button :driver_skill, '2', value: 2, style: 'display:none;' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.label :driver_skill_decent, 'decent', class: 'no-bold' %>
							<%= f.radio_button :driver_skill, '3', value: 3, style: 'display:none;' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.label :driver_skill_good, 'good', class: 'no-bold' %>
							<%= f.radio_button :driver_skill, '4', value: 4, style: 'display:none;' %>
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default" type="button" data-toggle="button">
							<%= f.label :driver_skill_great, 'great', class: 'no-bold' %>
							<%= f.radio_button :driver_skill, '5', value: 5, style: 'display:none;' %>
						</button>
					</div>
				</div>
				<br>

				<div class="separate">
					<%= f.label :no_show, "No show" %>
					<%= f.check_box :no_show %>
					<br>
					<%= f.label :dead, "Dead" %>
					<%= f.check_box :dead %>
				</div>
			</div>

			<div class="col-md-4 separate">
				<h3>Teleop scoring (shots)</h3>

				<%= f.label :top_made_tele, "Top scored" %>
				<%= f.number_field :top_made_tele, step: 1, min: 0, max: 30 %>
				<br>
				<%= f.label :top_missed_tele, "Top missed" %>
				<%= f.number_field :top_missed_tele, step: 1, min: 0, max: 30 %>
				<br>
				<%= f.label :low_made_tele, "Low scored" %>
				<%= f.number_field :low_made_tele, step: 1, min: 0, max: 30 %>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-4 separate">
				<h3>Teleop scoring (other)</h3>

				<%= f.label :catch_made, "Catches made" %>
				<%= f.number_field :catch_made, step: 1, min: 0, max: 30 %>
				<br>
				<%= f.label :catch_missed, "Catches missed" %>
				<%= f.number_field :catch_missed, step: 1, min: 0, max: 30 %>
				<br>
				<%= f.label :truss_made, "Truss shots made" %>
				<%= f.number_field :truss_made, step: 1, min: 0, max: 30 %>
				<br>
				<%= f.label :truss_missed, "Truss shots missed" %>
				<%= f.number_field :truss_missed, step: 1, min: 0, max: 30 %>
			</div>

			<div class="col-md-4">
				<h3>Teleop interaction</h3>

				<%= f.label :static_pickup, "Static pickup speed", class: 'separate' %>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.label :static_pickup_very_slow, "very slow", class: 'no-bold' %>
							<%= f.radio_button :static_pickup, '1', value: 1, style: 'display:none' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.label :static_pickup_slow, 'slow', class: 'no-bold' %>
							<%= f.radio_button :static_pickup, '2', value: 2, style: 'display:none' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.label :static_pickup_decent, 'decent', class: 'no-bold' %>
							<%= f.radio_button :static_pickup, '3', value: 3, style: 'display:none' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.label :static_pickup_fast, 'fast', class: 'no-bold' %>
							<%= f.radio_button :static_pickup, '4', value: 4, style: 'display:none' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.label :static_pickup_very_fast, 'very fast', class: 'no-bold' %>
							<%= f.radio_button :static_pickup, '5', value: 5, style: 'display:none' %>
						</button>
					</div>
				</div>

				<br>

				<%= f.label :moving_pickup, "Moving pickup speed", class: 'separate' %>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :moving_pickup, '1', value: 1, style: 'display:none' %>
							<%= f.label :moving_pickup_very_slow, "very slow", class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :moving_pickup, '2', value: 2, style: 'display:none' %>
							<%= f.label :moving_pickup_slow, 'slow', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :moving_pickup, '3', value: 3, style: 'display:none' %>
							<%= f.label :moving_pickup_decent, 'decent', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :moving_pickup, '4', value: 4, style: 'display:none' %>
							<%= f.label :moving_pickup_fast, 'fast', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :moving_pickup, '5', value: 5, style: 'display:none' %>
							<%= f.label :moving_pickup_very_fast, 'very fast', class: 'no-bold' %>
						</button>
					</div>
				</div>

				<br>

				<div class="separate">
					<%= f.label :attempted_passes, "Passes attempted" %>
					<%= f.number_field :attempted_passes, step: 1, min: 0, max: 50 %>
					<br>
					<%= f.label :accurate_passes, "Accurate passes" %>
					<%= f.number_field :accurate_passes, step: 1, min: 0, max: 50 %>
					<br>
					<%= f.label :attempted_receptions, "Receptions attempted" %>
					<%= f.number_field :attempted_receptions, step: 1, min: 0, max: 50 %>
					<br>
					<%= f.label :good_receptions, "Good receptions" %>
					<%= f.number_field :good_receptions, step: 1, min: 0, max: 50 %>
				</div>
			</div>

			<div class="col-md-4">
				<h3>Defense</h3>

				<div class="separate">
					<%= f.label :goalie_blocked, "Shots blocked – goalie" %>
					<%= f.number_field :goalie_blocked, step: 1, min: 0, max: 100 %>
					<br>
					<%= f.label :goalie_failed, "Shots allowed – goalie" %>
					<%= f.number_field :goalie_failed, step: 1, min: 0, max: 100 %>
				</div>

				<br>

				<%= f.label :goalie_block_area, "Goal blocked by goalie", class: 'separate' %>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :goalie_block_area, '1', value: 1, style: 'display:none' %>
							<%= f.label :goalie_block_area_low_goal, "low goal", class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :goalie_block_area, '2', value: 2, style: 'display:none' %>
							<%= f.label :goalie_block_area_high_goal, 'high goal', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :goalie_block_area, '3', value: 3, style: 'display:none' %>
							<%= f.label :goalie_block_area_both_goals, 'both goals', class: 'no-bold' %>
						</button>
					</div>
				</div>

				<br>

				<div class="separate">
					<%= f.label :pure_defense, "Pure defense" %>
					<%= f.check_box :pure_defense %>
					<br>
					<%= f.label :def_passes_interrupted, "Passes interrupted" %>
					<%= f.number_field :def_passes_interrupted, step: 1, min: 0, max: 100 %>
				</div>

				<%= f.label :def_time_drain, "Time drain caused", class: 'separate' %>
				<div class="btn-group btn-group-justified">
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :def_time_drain, '1', value: 1, style: 'display:none' %>
							<%= f.label :def_time_drain_1_sec, "1 sec", class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :def_time_drain, '2', value: 2, style: 'display:none' %>
							<%= f.label :def_time_drain_5_secs, '5 secs', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
							<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :def_time_drain, '3', value: 3, style: 'display:none' %>
							<%= f.label :def_time_drain_10_secs, '10 secs', class: 'no-bold' %>
						</button>
					</div>

					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :def_time_drain, '4', value: 4, style: 'display:none' %>
							<%= f.label :def_time_drain_15_secs, '15 secs', class: 'no-bold' %>
						</button>
					</div>

					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :def_time_drain, '5', value: 5, style: 'display:none' %>
							<%= f.label :def_time_drain_20_secs, '20 secs+', class: 'no-bold' %>
						</button>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<h3>Misc attributes</h3>

				<%= f.label :human_player_skill, "Human player skill", class: 'separate' %>
				<div class="btn-group btn-group-justified">
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :human_player_skill, '1', value: 1, style: 'display:none' %>
							<%= f.label :human_player_skill_very_bad, "horrible", class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :human_player_skill, '2', value: 2, style: 'display:none' %>
							<%= f.label :human_player_skill_bad, 'bad', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
							<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :human_player_skill, '3', value: 3, style: 'display:none' %>
							<%= f.label :human_player_skill_okay, 'okay', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :human_player_skill, '4', value: 4, style: 'display:none' %>
							<%= f.label :human_player_skill_good, 'good', class: 'no-bold' %>
						</button>
					</div>
					<div class='btn-group'>
						<button class='btn btn-default' type='button' data-toggle='button'>
							<%= f.radio_button :human_player_skill, '5', value: 5, style: 'display:none' %>
							<%= f.label :human_player_skill_very_good, 'great', class: 'no-bold' %>
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<h3>Test</h3>
			</div>

			<div class="col-md-4">
				<h3>Notes</h3>
			</div>
		</div>

		<br>

		<div class="center">
    	<%= f.submit "Submit match", class: "btn btn-large" %>
    </div>
  <% end %>
</div>
