<% provide(:title, 'New match') %>

<style>
	input {width: 25%;}
	input[type='checkbox'] {margin: -2px 10px 0;}
	label {display: inline; font-weight: bold; font-size: 120%;}
	input[type="radio"] {margin: 1px 10px 0;}
	input[type='number'] {width: 100px; font-size: 150%;}
	h3 {font-size: 250%;}
</style>

<h1>New match</h1>

<div class="container">
  <%= form_for(@match) do |f| %>
  	<%= render 'shared/error_messages_match', object: f.object %>

  	<div class="row" style='margin-bottom:50px;'>
  		<ul class="nav nav-tabs match-tabs">
  			<li class="active"><a href="#match_start" data-toggle='tab'>Match Start</a></li>
  			<li><a href="#interaction" data-toggle='tab'>Interaction</a></li>
  			<li><a href="#scoring" data-toggle='tab'>Scoring</a></li>
  			<li><a href="#defense" data-toggle='tab'>Defense</a></li>
  		</ul>
		  <div class="tab-content">
				<div class="tab-pane active" id='match_start'>
					<div class="row">
						<div class="col-md-4" style="margin-top:20px;">
							<%= render 'matches/team_info', f: f %>
						</div>
						<div class="col-md-4 center">
							<%= render 'matches/auton', f: f %>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="tab-pane" id='interaction'>
					<%= render 'matches/tele_interaction', f: f %>
					<%= render 'matches/movement', f: f %>
				</div>
				<div class="tab-pane" id='scoring'>
					<%= render 'matches/teleop_scoring', f: f %>
					<%= render 'matches/teleop_scoring_shots', f: f %>
				</div>
				<div class="tab-pane" id='defense'>
					<%= render 'matches/defense', f: f %>
				</div>
			</div>
		</div>

		<hr>

		<div class="center">
    	<%= f.submit "Submit match", class: "btn btn-large" %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
</div>
