<% provide(:title, 'New match') %>
<style>
	input {width: 75%;}
	label {display: inline;}
	.slide {width: 75% !important;}
</style>


<h1>New match</h1>
<div class="container">

  <%= form_for(@match, html: {'ng-controller' => 'Ctrl'}) do |f| %>
    <%= render 'shared/error_messages_match' %>
		<div class="row">
			<div class="col-md-4">
				<h3>Auton</h3>

		      <%= f.label :top_made_tele, "Top scored" %>
		      <%= f.radio_button :top_made_tele, 1 %>
		      <%= f.radio_button :top_made_tele, 4 %>
		      <%= f.radio_button :top_made_tele, 9 %>
					<br>
		      <%= f.label :top_missed_tele, "Top missed" %>
		      <%= f.range_field :top_missed_tele, min: 0, max: 5, class: 'slide' %>
					<br>
		      <%= f.label :low_made_tele, "Low scored" %>
		      <%= f.check_box :low_made_tele %>
					<br>
		      <%= f.label :low_goal_time_taken, "Low time taken" %>
		      <%= f.number_field :low_goal_time_taken, step: 1, min: 0, max: 10 %>
			</div>

			<div class="col-md-4">
				<h3>Movement</h3>
			</div>
			<div class="col-md-4">
				<h3>Teleop scoring (shots)</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h3>Teleop scoring (other)</h3>
			</div>
			<div class="col-md-4">
				<h3>Teleop interaction</h3>
			</div>
			<div class="col-md-4">
				<h3>Misc</h3>
			</div>
		</div>

		<br>
    <%= f.submit "Submit match", class: "btn btn-primary" %>
  <% end %>
</div>
